.singlePage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:6rem;

    > div {
        align-self: flex-start;
    }
}

.singlePageImage {
    width: 52%;
}

.cartButton {
    margin: 1rem auto;
}
