.container {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.linkWrap {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.bioHolder {
    margin-bottom: 1.6rem;
}