.container {
    background-color: var(--disco);
    text-align: center;
    color: var(--ice-cold);
    margin: 2rem 0;
    padding: 1.6rem .5rem;
    border-top: 4px solid;
    border-bottom: 4px solid;
    border-color: var(--chinese-violet);
}