.catList {
    list-style: none;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    gap: 2rem;
    max-width: max-content;
    margin: 0 auto;
    flex-direction: column;

    @media (min-width: 1024px) {
        flex-direction: row;
    }
}